*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Josefin Sans', sans-serif;
}

.main-div{
    border: 2px solid black;
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: #5b5b73;
}
.small-div{
    margin-top: 12vh;
    height: 57%;
    width: 18rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 8px;
    box-shadow: 0px 0px 12px #49495a;
    background-color: white;
}

.small-div input{
    /* border-bottom: 2px; */
    border: none;
    border-bottom: 2px solid;
    margin: 7px 10px;
    font-size: 19px;
    outline: none;
}
.head{
    width: 100%;
    margin-top: 20px;
    text-align: center;
    color: white;
    background-color: #8c258c;
    padding-top: 4px;
}
.top{
    padding: 4px;
    margin-top: 5px;
    margin-bottom: 5px;
    width: 100%;
    text-align: center;
}
ul{
    width: 100%;
}
ul li{
    list-style: none;
    font-size: 18px;
}
button{
    font-size: 31px;
    border-radius: 50%;
    width: 32px;
    color: white;
    background-color: #8c258c;
    border: none;
    cursor: pointer;
}
button:hover{
    background-color: rgb(79, 121, 16);
}
.listItem{
    display: flex;
    align-items: center;
    padding: 0px 19px;
}
.fa{
    margin: 10px;
    font-size: 26px;
    color: #922792;
}
.fa:hover{
    color: crimson;
}
@media only screen and (max-width: 361px){
    .small-div{
        width: 17rem;
    }
}